@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sidebar{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 75px;
    width: 200px;
}
.sidebar div{
    margin: 10px;
    display: flex;
    align-items: center;
}
.sidebar div *{
    margin: 10px;    
}
@media only screen and (max-width: 950px){
	.sidebar{
        display: none;
    }
}