.stories div img{
    position: absolute;
    top: 0;
bottom: 0;
right: 0;
left: 0;
height: 100%;
object-fit: cover;
z-index: -1;
width: 100%;
}

.stories{
    /* background-color: yellow; */
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.stories div{
    color: white;
    margin: 10px;
    border-radius: 10px;
    overflow-x: hidden;   
    position: relative;
    height: 200px;
    width: 100px;
    padding: 10px;
    /* background-color: red; */
    transition: all 300ms ease-out;
    
}

.stories div:hover{
    transform: scale(1.08);
    /* margin-top: -10px; */
}
.stories-title{
    position: absolute;
    color: white;
    bottom: 0;
}
#profile-pic1{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    /* position: absolute; */
    z-index: 1;
    top: 10px;
    left: 10px;
}
#profile-pic2{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    /* position: absolute; */
    z-index: 1;
    top: 10px;
    left: 10px;
}
#profile-pic3{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    /* position: absolute; */
    z-index: 1;
    top: 10px;
    left: 10px;
}
#profile-pic4{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    /* position: absolute; */
    z-index: 1;
    top: 10px;
    left: 10px;
}
@media only screen and (max-width: 800px){
    .stories{
        display: none;
    }
    
    }